<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where Next?</title>
  <link rel="stylesheet" href="/css/style.css:">
  <link>
</head>

{{!-- users will be given the option to log in or sign up --}}
<body>
  <header>
    <h1>Where Next?</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}

    <a href="/signup">Sign up</a>
  </nav>

{{{body}}}
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>



  
  