<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where Next?</title>
  <link rel="stylesheet" href="/css/tw.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

{{!-- users will be given the option to log in or sign up --}}
<body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white">
  <header class="bg-orange-400 text-white sticky top-0 z-10">
    <section class="max-w-4xl mx-auto p-4 flex justify-between items-center">
      <h1 class="text-3x1 font-medium">Where Next?</h1>
    </section>
  </header>
 
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a class="login-status">Logged in as: {{user}}</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
    {{/if}}

  </nav>

{{{body}}}

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>



  
  