<form action="/createPost" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="caption" placeholder="Caption">
  <input type="text" name="location" placeholder="Location">
  <input type="file" name="image" accept="image/*">
  <button type="submit">Create Post</button>
</form>