<section>
      {{#each travelPosts}}
      {{> post-details}}
    {{/each}}
</section>
    <aside>
      {{!-- on the right side of the page, viewers can create a new post --}}
      <h2>Create New Post</h2>
      <form class="newpost">
        <input type="text" id="title" placeholder="Title">
        <input type="text" id="caption" placeholder="Caption">
        <input type="text" id="location" placeholder="Location">
        <input type="text" id="img">
         <button type="submit">Create Post</button>
      </form>
    </aside>
  <script src="/js/createpost.js"></script>
 
