<h1>Welcome to My Travel Blog</h1>

{{#if isAuthenticated}}
  <p>Welcome, {{username}}!</p>
  <a href="/logout">Logout</a>
  <a href="/postList">View Travel Posts</a>
{{else}}
  <p>Please login or sign up to continue:</p>
  <a href="/login">Login</a>
  <a href="/signup">Sign up</a>
{{/if}}