<section>
      {{#each travelPosts}}
      {{> post-details}}
    {{/each}}
</section>
    <aside>
      {{!-- on the right side of the page, viewers can create a new post --}}
      <h2>Create New Post</h2>
      <form class="newpost">
        <input type="text" id="title" placeholder="Title">
        <input type="text" id="caption" placeholder="Caption">
        <input type="text" id="location" placeholder="Location">
        <button id="upload_widget" class="cloudinary-button">
          Upload files
        </button>
         <button type="submit">Create Post</button>
      </form>
    </aside>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">
</script>
  {{!-- <script src="/js/cloudinary.js"> --}}
  <script src="/js/createpost.js"></script>
  </script>
 
