<section>
      {{#each travelPosts}}
      {{> post-details}}
    {{/each}}
</section>
    <aside>
      {{!-- on the right side of the page, viewers can create a new post --}}
      <h2>Create New Post</h2>
      <form>
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="caption" placeholder="Caption">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="image">
         <button type="submit">Create Post</button>
      </form>
    </aside>
