<h1>Where Next?</h1>

<form class="login-form" method="post">
  <input id="email" type="email" placeholder="email">
  <input id="password" type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

<a href="/signup">Sign up</a>