<div class="block text-center">
  <form class="login-form">
    <input id="email" type="email" placeholder="Email">
    <input id="password" type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</div>
<a href="/signup">Sign up</a>
<script src="/js/login.js"></script>