body{
    background-color:antiquewhite;
}

header{
    background-color: coral;
}

h1{
    font-size: 400%;
    text-align: center;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

  /* Style the navigation bar */
  nav {
    background-color:rgb(236, 175, 135); /* Set the background color */
    text-align: center; /* Center-align the list items */
  }
  
  /* Style the navigation links */
  nav a {
    display:inline-flex; /* Display links as blocks to take full width */
    padding: 15px 20px; /* Add some padding around the links */
    color: #fff; /* Set the text color to white */
    text-decoration: none; /* Remove underlines from links */
  }
   /* Change link color on hover */
  nav a:hover {
    background-color: #555;
  }

  nav button {
    display:inline-flex; /* Display links as blocks to take full width */
    padding: 15px 20px; /* Add some padding around the links */
    color: #fff; /* Set the text color to white */
    text-decoration: none; /* Remove underlines from links */
  } 
  nav button:hover {
    background-color: #555;
  }
  
  

.block {
    perspective: 150rem;
    position: absolute;
    top: 30%;
    left: 33%;
    border-radius: 25px;
    width: 500px;
    border: solid black 2px;
    padding: 20px;
}

aside{
  position:fixed;
  perspective: 150rem;
  top: 30%;
  right: 0%;
  border-radius: 25px;
  width: 200px;
  border: solid black 2px;
  padding: 20px;
  margin: auto;
}

h2{
    font-size: 400%;
    text-align: center;
    color:green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
form button{
  display:inline-flex; /* Display link as blocks to take full width */
  border-radius:8px;
  padding: 15px 20px; /* Add some padding around the links */
  color: #180606; /* Set the text color to white */
  text-decoration: none; /* Remove underlines from links */ 
}